#myName {
  font-family: Calibri;
  display: flex;
  background-color: #4DA9A6;
  text-align: center;
  color: white;
}

div button {
  font-family: Calibri;
  font-size: 1.25em;
  border: 1px solid white; /* border */
  background-color: white;
  color: grey; /* White text */
  padding: 18px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  width:100%;
  text-align: center;
}

div button:not(:last-child) {
  border-right: none;
}

div button:after {
  content: "";
  clear: both;
  display: table;
}


header {
  border-bottom: 2px inset #bfbfbf;
}

#header {
  max-width:960px;
  margin:auto;
}

#bodyHeader {
  font-family: Calibri;
  display: flex;
  color: grey;
  max-width: 960px;
  margin: auto;
}

#body {
    max-width: 960px;
    max-width: 960px;
    margin: auto;
}

footer {
  width:100%;
  position: absolute;
  bottom:0;
  border-top: 5px inset cyan;
  text-align: center;
  background-color: #bfbfbf;
  padding: 11px;
}
