#myName {
  font-family: Calibri;
  display: flex;
  background-color: #4DA9A6;
  text-align: center;
  color: white;
}

div button {
  font-family: Calibri;
  font-size: 1.25em;
  border: 1px solid white; /* border */
  background-color: white;
  color: grey; /* White text */
  padding: 18px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  width:100%;
  text-align: center;
}

div button:not(:last-child) {
  border-right: none;
}

div button:after {
  content: "";
  clear: both;
  display: table;
}


header {
  border-bottom: 2px inset lightgrey;
}

#bodyFrame {
  padding: 0px 30px 30px 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 960px;
  margin-top: 60px;
  border: 1px solid lightgrey;
}

 #bodyFrame p {
border-top: 3px solid lightgrey;
}

#header {
  max-width:960px;
  margin:auto;
}



footer {
  width:100%;
  position: absolute;
  bottom:0;
  border-top: 5px solid #4DA9A6;
  text-align: center;
  background-color: #bfbfbf;
  padding: 11px;
}
