#myName {
  font-family: Calibri;
  display: flex;
  background-color: #4DA9A6;
  text-align: center;
  color: white;
}

.container-fluid nav div button {
  font-family: Calibri;
  font-size: 1.5em;
  border: 1px solid white; /* border */
  background-color: white;
  color: grey; /* White text */
  padding: 18px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  width:100%;
  text-align: center;
}

.container-fluid nav div button:not(:last-child) {
  border-right: none;
}

.container-fluid nav div button:after {
  content: "";
  clear: both;
  display: table;
}

html {
  max-width: 960px;
  margin: auto;
}

header {
  border-bottom: 2px inset #bfbfbf;
}

#body {
  padding-top:60px;
  padding-bottom:60px;   /* Height of the footer */
}

footer {
  width: 960px;
  position: absolute;
  bottom:0;
  border-top: 5px inset cyan;
  text-align: center;
  background-color: #bfbfbf;
  padding: 11px;
}
